@import url('https://fonts.googleapis.com/css?family=Raleway:300,500');
*{

	padding: 0;
	margin: 0;
	box-sizing:border-box;
	}

body{
	font-family: Raleway, Arial, sans-serif;
	font-size: 18px;
	/*color: #033D9F;*/
	line-height: 1.3;
}

main{
	margin: auto;
	/*background: orange;*/
	max-width: 1200px ;
	padding: 1em;
	
}

aside{
	padding: 1em;
	background-color: rgba(46, 55, 59, 0.04);

}

nav a {
	text-transform: uppercase;
	font-size: 1em;
	color: #033D9F;
	text-decoration: none;
	margin: .4em;
	padding: 5PX 10PX;
	border: 2px solid #033D9F;
	}

nav a:hover { 
    background-color: #033D9F;
    color: white;
}	

	nav{
	float: right;
	margin: 1em;
	}

header{
	/*background: orange;*/
	max-width: 1200px;
	min-height: 6em;
	padding: 2em 1.4em;
	margin: auto;
}


h1{

}

h2{
	margin: 1%;
	color: #033D9F;
	text-transform: uppercase;
}


h3 {
	font-size: 1.2em;
	margin: 1em 0 0 0;
	line-height: 1em;
}

h1+h3{
	margin: 0;
}

h4{
	font-size: .9em;
	color: #555555;
	padding: .3em 0 .8em;
}



footer{
	background-color: rgba(46, 55, 59, 0.2);
	color: rgba(46, 55, 59, .4);
	padding: 1em 0 2em;
	text-align: center;
}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: " ";
	display: block;
	clear: both;
	}

#section1{
	/*background-color: yellow;*/
	margin: auto;
	width: 100%;
}

#section2{
	width: 100%;
	margin: auto;
	max-width: 1200px;
	padding: 1%
}


.part{
	/*background-color: grey;*/
	float: left;
	margin: 1%;
	width: 31.2%;
	min-height: 39em;
}

.part img{
	width: 100%;
}

.projects{
	margin: auto;
	/*background-color: blue;*/
	width: 100%;
}

.about{
	/*width: 40%;*/
	/*float: left;*/
	/*background-color: green;*/
}

.yts img{
	width: 90px;
	float: left;
	/*display: block;*/
	margin: 0 1em 0 0.2em;
}

.yts{
	width: 30%;
	/*background-color: red;*/
	float: left;
		margin: 1%;
}

.location{
	width: 66%;
	/*background-color: green;*/
	float: left;
	margin: 1%;
}

.yts>p{
	/*background-color: red;*/

	float: left;
	/*display: inline;*/
	font-size: .8em;
}



@media only screen and (max-width: 1000px) {
	body{
	font-size: 16px;
	}
	
	.part{
		width: 48%;
		min-height: 43em;
	}

	.location{
	width: 48%;
	}
	
	.yts{
	width: 48%;
	}

}

/* This is a CSS note */
