@import url('https://fonts.googleapis.com/css?family=Raleway:300,500');
*{

	padding: 0;
	margin: 0;
	box-sizing:border-box;
	}

body{
	font-family: Raleway, Arial, sans-serif;
	font-size: 16px;
	/*color: #033D9F;*/
	line-height: 1.3;
}

main{
	margin: 2%;
	background: orange;
	/*max-width: 900px;*/
	/*margin: auto;*/
}

aside{
	margin: 20px;
	/*background: blue;*/

}

nav a {
	text-transform: uppercase;
	font-size: 14px;
	margin:0 1em;
	padding: 5PX 10PX;
	border: 2px solid #033D9F;
	}

	nav{
	float: right;
	}

header{
	padding: 20px;
}

h2{
	margin: 16px 0 20px;
	color: #033D9F;
	text-transform: uppercase;
}


h3 {
	font-size: 1.2em;
	color: #555555;
	line-height: 1em;
	padding-bottom: .3em;

}

a{
	color: #033D9F;
	text-decoration: none;
}


footer{

	background-color: rgba(46, 55, 59, 0.2);
	color: rgba(46, 55, 59, .4);
	padding: 2em;
	text-align: center;
}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: " ";
	display: block;
	clear: both;
	}

#section1{
	background-color: yellow;
	margin: auto;
}

.part{
	background-color: grey;
	float: left;
	margin: 1%;
	width: 31.3%;
}

.part img{
	width: 100%;
}

.projects{
	margin: auto;
	background-color: blue;
	width: 100%;
}


/* This is a CSS note */
