
.about{
	width: 40%;
	float: left;
	background-color: green;
}

.map{
	padding-left: 5%;
	width: 20%;
}

#section2{
	/*width: 600px;margin: auto;*/
	padding: 5%;
	background-color: yellow;
	}

#section2 > p{
	
	}

#section2 > img{

	width: 150px;
	float: left;
	margin-right: 20px;
	}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: " ";
	display: block;
	clear: both;
	}

.part{
	float: left;
	width: 33.33%;
	padding: 1rem;
	height: 400px;
	}

.part img {
	width:100%;
	}

#section1{
	/* width: 1200px; */
	/* margin: auto; */
	padding: 2em;
	}